h1{
	text-align: center;
	font: sans-serif;
	font-size: 75px;
}

body, html{
	background-image: url(background.JPG);
	height: 100%;
}

/*Nav-bar CSS*/
	 .bg-img {
	  min-height: 80px;

	  /* Center and scale the image nicely */
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;

	  /* Needed to position the navbar */
	  position: relative;
	}

	/* Position the navbar container inside the image */
	.container {
	  position: absolute;
	  margin: 20px;
	  width: 98%;
	}

	/* The navbar */
	.topnav {
	  overflow: hidden;
	  background-color: #333;
	}

	/* Navbar links */
	.topnav a {
	  float: left;
	  width: 170px;
	  color: #f2f2f2;
	  text-align: center;
	  padding: 14px 20px;
	  text-decoration: none;
	  font-size: 18px;
	}

	.topnav a:hover {
	  background-color: #ddd;
	  color: black;
	}



.header{
	height: 60%;
	width: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	}	

.photo{
	font: sans-serif;
	font-size: 30px;
}

.contain{
	background-color: whitesmoke; 
	padding: inherit; 
	backface-visibility: hidden
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;

}

p{
	text-align: left;
	font: sans-serif;
	font-size: 25px;
	padding-left: 15px;
	padding-right: 10px;
}

/*Styling for the image enlarger*/



/*Styling for the click me button*/
.randombutton {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
}

/*Styling for the Maps*/
#map{
      height:400px;
      width:100%;
    }

/*Login page*/
input[type=text],input[type=password],input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  margin-top: 6px;
  margin-bottom: 16px;
}

/*The CSS for the footer*/
#sticky-footer {
    background-color: black;
    text-align: center;
    opacity: 0.9;
    padding-bottom: 7px;
    width: 100%;
}

small{color: white;
        font-size: 20px;
        opacity: 1.0;}