<!Doctype html>
<html lang ="en">

	<head>
		<!--meta tags-->
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width = device-width, initial-scale = 1">

		<!--Title of the Webpage-->
		<title> Welcome </title>

		<!--Link to Bootstrap stylesheet-->
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!-- Link to external stylesheet-->
		<link rel="stylesheet" type="text/css" href="style.css">

    	<!-- Links to external Ajax, jQuery and Bootstrap libraries -->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>



<body>
    <!-- Navigation Bar -->
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">

        <!-- Logo and Dropdown List-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span>
            </button>
            <a href="index.html" class="navbar-brand">MEMEIFY</a>
        </div>

        <!-- Menu Items -->
        <div class="collapse navbar-collapse" id="mainNavBar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Home</a></li>
                <li><a href="#">TrendingMemes</a></li>
                <li><a href="uploadameme.html">Upload a Meme</a></li>
                <li><a href="recommendmeme.html">Recommend a Meme</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
         </div>
        </div>
      </nav>

		<div class="container" style="padding: 10px;">
			<h1><b>Welcome to MemeIfy</b></h1>
			<p>
				Welcome to MemeIfy, your online meme search and recommendation tool...
			</p>
<br />
			<div class="col-md-3">
				<img src="gif1.gif" alt="GIF 1" style="width: 275px; height: 175px;" />
			</div>
			<div class="col-md-3">
				<img src="gif2.gif" alt="GIF 2" style="width: 275px; height: 175px;"/>
			</div>
			<div class="col-md-3">
				<img src="gif3.gif" alt="GIF 3" style="width: 275px; height: 175px;"/>
			</div>
			<div class="col-md-3">
				<img src="gif4.gif" alt="GIF 4" style="width: 275px; height: 175px;"/>
			</div>
		</div>

	  <!-- Search Bar-->
	  <div class="container" id="search" style="padding: 15px;">
<br />
	    <form class = "hello_world">
	      	<p>Search the text box below to find a meme...</p>
	      	<input type="text" name="search" placeholder="Search a Meme...">
	      	<button id="myBtn" value="search">Button</button>
<br />
		</form>
	      </div>

<br />
<br />
    <!-- Footer of the website -->
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; MemeIfy</small>
            <!-- Social Media Icons in footer -->
          </div>
    </footer>


	
</body>

</html>