<!DOCTYPE html>
<html>
<head>
    	<script src="/logic.js"></script>
        <link rel="stylesheet" type="text/css" href="/style.css">

</head>
<body>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<script type=text/javascript>
		
	</script>

    
	<div class="photo img">

        <h2>{{name}}</h2>
        <p>Original link:</p>
        <a id="link2" href="{{link}}">{{link}}</a>
        <img id="photo2" href="" src="{{url}}" alt="GIF 2" style="width: 300px; height: 200px;" />
        <p id="score">{{score}}</p>
        <button onclick="vote_photo_id('{{id}}')">upvote</button>
    </div>

</body>
</html>